/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-item {
  max-width: calc((100% - 48px) / 3);
}

h1 {
  display: none;
}

.container {
  display: flex;
  padding: 80px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
